body {
    background: #D7D6D6;
    color: #5D5E60;
}

#navBar {
    background: black;
    display: inline-flex;
    list-style: none;
}

#navBar li {
    margin-right: 10px;
    margin-left: 10px;
}

#container {
    background: #36413E;
    margin-left: 50px;
    margin-right: 50px;
    height: 1000px;
}

header {
    text-align: center;
    font-size: 100px;
}

h1 {
    font-size: 50px;
    text-align: center;
}